.badge { 
  text-transform: uppercase;
}

.table tr {
  height: 48px;
}

.table td {
  vertical-align: middle;
}

.table td:last-child {
  text-align: right;
}

.table td:first-child {
  width: 1%;
}

.table td:nth-child(2) {
  width: 30%;
}

.table td:nth-child(3) {
  width: 30%;
}

.table td:nth-child(4) {
  width: 1%;
}