.stats { 
  display: flex;
  gap: 40px;
}

.name {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.value {
  font-family: monospace;
  font-size: 18px;
  line-height: 31px;
  min-height: 31px;
  white-space: nowrap;
}